name: Aggiornamento Newsletter
on:
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  build:
	runs-on: ubuntu-latest
	steps:
	- uses: actions/checkout@v3
	- uses: actions/setup-python@v4
	  with:
		python-version: '3.9'
	- name: Dependencies
	  run: pip install requests
	- name: Run
	  env:
		BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
	  run: python archivio.py
	- name: Push
	  run: |
		git config --global user.name "GitHub Action"
		git config --global user.email "action@github.com"
		git add index.html
		git commit -m "Aggiornamento automatico" || exit 0
		git push