name: Update Newsletter Archive

on:
  schedule:
	- cron: '0 0 * * *' # Gira ogni notte a mezzanotte
  workflow_dispatch: # Ti permette di farlo girare a mano quando vuoi

jobs:
  build:
	runs-on: ubuntu-latest
	steps:
	  - name: Checkout del codice
		uses: actions/checkout@v3

	  - name: Setup Python
		uses: actions/setup-python@v4
		with:
		  python-version: '3.9'

	  - name: Install Dependencies
		run: pip install requests

	  - name: Run Script
		env:
		  BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
		run: python archivio.py

	  - name: Commit and Push changes
		run: |
		  git config --global user.name "GitHub Action"
		  git config --global user.email "action@github.com"
		  git add index.html
		  git commit -m "Aggiornamento automatico newsletter" || exit 0
		  git push